<form role="form">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" ng-model="profile.username" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" ng-model="profile.email" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" ng-model="profile.password" required>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="profile.isSubscribed" ng-init="profile.isSubscribed = false"> Subscription for newsletter</label>
  </div>
  <button type="submit" class="btn btn-default" ng-click="addProfile(profile)">Submit</button>
</form>
